* {box-sizing: border-box}
.mini-container .mini-slide {    
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 400px;
    height: 287px;
}
.mini-container .mini-slide img {
    vertical-align: middle; 
    width: 400px;
    height: 287px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

/* Slideshow container */
.mini-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.mini-prev, .mini-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.mini-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.mini-prev:hover, .mini-next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* The dots/bullets/indicators */
.mini-dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .mini-dot-tab{
          
    text-align: center;
    margin-top: -30px;
  }